- purchased = group.code_suggestions_purchased?

%h5
  - if purchased
    = render Pajamas::AlertComponent.new(variant: :info, dismissible: true, alert_options: { class: 'gl-mb-5' }) do |c|
      - c.with_body do
        - usage_quotas_link = link_to('', group_usage_quotas_path(group, anchor: 'code-suggestions-usage-tab'))
        = safe_format(s_('CodeSuggestionsSM|Manage user access for Code Suggestions on the %{usage_quotas_link_start}usage quotas%{usage_quotas_link_end} page.'), tag_pair(usage_quotas_link, :usage_quotas_link_start, :usage_quotas_link_end))
  - else
    = render Pajamas::AlertComponent.new(variant: :warning, dismissible: true, alert_options: { class: 'gl-mb-5' }, title: s_('CodeSuggestionsSM|Code Suggestions free access has ended')) do |c|
      - c.with_body do
        = s_('CodeSuggestionsSM|Purchase the Duo Pro add-on to use Code Suggestions.')
      - c.with_actions do
        = render Pajamas::ButtonComponent.new(variant: :default, href: 'https://about.gitlab.com/solutions/gitlab-duo-pro/sales/', target: '_blank') do
          = s_('CodeSuggestionsSM|Contact Sales')
